<section class="content-header">
  <h1>
    <i class="fa fa-question-circle"></i> 使い方
    <small>omae</small>
  </h1>
  <ol class="breadcrumb">
    <li>その他</li>
    <li class="active">使い方</li>
  </ol>
</section>
<hr>

<div class="row">
  <div class="col-sm-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">勤怠情報の登録</h3>
      </div>
      <div class="box-body">
        <div class="box-group" id="accordion1">
          <div class="panel box box-primary">
            <div class="box-header with-border">
              <h4 class="box-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#first">
                  はじめに
                </a>
              </h4>
            </div>
            <div id="first" class="panel-collapse collapse">
              <div class="box-body">
                <p>まずは勤怠情報を登録してみましょう。</p>
                <ol>
                  <li>
                    サイドメニューから「日次勤怠」を選択
                    <%= image_tag 'help/first.png', class: "img-responsive" %>
                  </li>
                  <li>
                    新規登録ボタンを選択
                    <%= image_tag 'help/new_attendance.png', class: "img-responsive" %>
                  </li>
                  <li>
                    日付, 出勤時刻, 退勤時刻 をそれぞれ入力して 登録
                    <br>
                    <small>デフォルト値は、今日の日付, 始業時刻, 終業時刻 です。</small>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="panel box box-primary">
            <div class="box-header with-border">
              <h4 class="box-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#register_now">
                  現在時刻で登録する
                </a>
              </h4>
            </div>
            <div id="register_now" class="panel-collapse collapse">
              <div class="box-body">
                <p>ボタン1つで、現在時刻での出勤/退勤を登録する方法を紹介します。</p>
                <ol>
                  <li>通常の登録と同様に、<%= link_to '日次勤怠ページ', user_attendances_path(current_user.id) %>へ移動</li>
                  <li>
                    新規登録ボタン右の▽を選択
                    <%= image_tag 'help/register_now.png', class: "img-responsive" %>
                  </li>
                  <li>出勤なう/退勤なうをそれぞれ選択</li>
                </ol>
                <p><small>※「出勤なう」は、出勤時刻 = 現在時刻, 退勤時刻 = 終業時刻 として登録します。</small></p>
                <p><small>
                  ※「退勤なう」は、すでに当日の勤怠情報が登録されていれば 退勤時刻 = 現在時刻 に上書き、登録されていなければ
                  出勤時刻 = 始業時刻, 退勤時刻 = 現在時刻 として登録します。
                </small></p>
                <p class="text-red"><i class="fa fa-star-o"></i>便利な使い方(スマホのホーム画面に登録)</p>
                <p>
                  スマホのホーム画面に OMAE のショートカットを置いておけば、出勤時/退勤時にすぐに勤怠を登録できます。
                  ここでは、iPhone の Safari での操作手順を紹介します。
                </p>
                <ol>
                  <li><%= link_to '日次勤怠ページ', user_attendances_path(current_user.id) %>へ移動</li>
                  <li>
                    シェアボタン を選択
                    <%= image_tag 'help/share_button.png', class: "img-responsive" %>
                  </li>
                  <li>
                    「ホーム画面に追加」を選択
                    <%= image_tag 'help/add_to_home.png', class:"img-responsive" %>
                  </li>
                  <li>移動先のページで「追加」を選択</li>
                  <li>ホーム画面に OMAE のショートカットが追加されていることを確認</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="panel box box-primary">
            <div class="box-header with-border">
              <h4 class="box-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#work_day_off">
                  休日出勤を登録する
                </a>
              </h4>
            </div>
            <div id="work_day_off" class="panel-collapse collapse">
              <div class="box-body">
                <p>休日出勤した際の勤怠の登録方法を説明します。</p>
                <ol>
                  <li>通常の勤怠登録と同様に、<%= link_to '勤怠登録ページ', new_user_attendance_path(current_user.id) %>へ移動</li>
                  <li>
                    「休日出勤」にチェックを入れる
                    <%= image_tag 'help/work_day_off.png', class: "img-responsive" %>
                  </li>
                  <li>日付, 出勤時刻, 退勤時刻 をそれぞれ入力して 登録</li>
                </ol>
                <p>休日出勤の扱い</p>
                <ul>
                  <li>始業時刻・終業時刻にかかわらず、就業時間のすべてを残業時間として扱います</li>
                  <li>
                    日次勤怠一覧では、赤背景で表示します
                    <%= image_tag 'help/wdo_appearance', class: "img-responsive" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">勤怠情報の確認</h3>
      </div>
      <div class="box-body">
        <div class="box-group" id="accordion2">
          <div class="panel box box-primary">
            <div class="box-header with-border">
              <h4 class="box-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#search">
                  検索・絞り込み
                </a>
              </h4>
            </div>
            <div id="search" class="panel-collapse collapse">
              <div class="box-body">
                <p>
                  勤怠情報の検索・絞り込みは、特定の日や月の勤怠だけを確認したいときなどに便利です。
                </p>
                <p>ここでは例として、「2018年10月」の勤怠に絞り込む方法を紹介します。</p>
                <ol>
                  <li>サイドメニューから「日次勤怠」を選択</li>
                  <li>
                    勤怠一覧を確認 (この時点では、「2018年11月」の勤怠も表示されています)
                    <%= image_tag 'help/default_attendances.png', class: "img-responsive" %>
                  </li>
                  <li>
                    「検索」のテキストボックスに「2018-10」と入力
                    <br>
                    <small>入力すると即時、検索・絞り込みが反映されます</small>
                    <%= image_tag 'help/oct_attendances.png', class: "img-responsive" %>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="panel box box-primary">
            <div class="box-header with-border">
              <h4 class="box-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#sort">
                  並び替え
                </a>
              </h4>
            </div>
            <div id="sort" class="panel-collapse collapse">
              <div class="box-body">
                <p>
                  デフォルトでは日付の新しい順に勤怠が表示されますが、
                  逆順に並び替えたり、他の項目を使って並び変えたりすることができます。
                </p>
                <p>ここでは例として、「残業時間の長い順」に並び替える方法を紹介します。</p>
                <ol>
                  <li>サイドメニューから「日次勤怠」を選択</li>
                  <li>
                    「残業時間」の並び替えボタンを選択
                    <%= image_tag 'help/sort1.png', class: "img-responsive" %>
                  </li>
                  <li>
                    この時点で、「残業時間の短い順」に並んでいるため、もう一度並び替えボタンを選択
                    <%= image_tag 'help/sort2.png', class: "img-responsive" %>
                  </li>
                  <li>「残業時間の長い順」に並び替えられたことを確認</li>
                </ol>
                <p>検索・絞り込みと並び替えを組み合わせることで、「2018年10月のうち、残業時間の長い順で表示」なども可能です。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
