<div class="jumbotron jumbotron-fluid bg-purple">
  <div class="container">
    <h1 class="display-4">OMAE</h1>
    <p class="lead">自分がどれくらい仕事に時間を費やしているか、きちんと把握してみませんか。</p>
    <%= link_to '無料ではじめてみる', new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-bar-chart"></i>グラフィカルに確認</h3>
      </div>
      <div class="box-body">
        <div class="thumbnail">
          <%= image_tag 'welcome/summary', class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-hand-pointer-o"></i>ボタン1つで簡単記録</h3>
      </div>
      <div class="box-body">
        <div class="thumbnail">
          <%= image_tag 'welcome/now', class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-database"></i>日次の勤怠を一覧で見たり</h3>
      </div>
      <div class="box-body">
        <div class="thumbnail">
          <%= image_tag 'welcome/daily', class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-calendar"></i>月や週ごとに集約して見たり</h3>
      </div>
      <div class="box-body">
        <div class="thumbnail">
          <%= image_tag 'welcome/monthly-weekly', class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
</div>
