<section class="content-header">
  <h1>
    <i class="fa fa-user"></i> Profile
    <small>omae</small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li class="active">Profile</li>
  </ol>
</section>
<hr>

<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Profile</h3>
    <%= link_to 'Edit', edit_user_registration_path, class: "btn btn-default pull-right" %>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>User Name</th>
          <td><%= @user_name %></td>
        </tr>
        <tr>
          <th>Office Hours</th>
          <td><%= @work_start_time.to_s(:time) %> ~ <%= @work_end_time.to_s(:time) %></td>
        </tr>
        <tr>
          <th>Recess</th>
          <td><%= @rest_start_time.to_s(:time) %> ~ <%= @rest_end_time.to_s(:time) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
