<section class="content-header">
  <h1>
    <i class="fa fa-user"></i>アカウント情報
    <small>omae</small>
  </h1>
  <ol class="breadcrumb">
    <li class="active">ユーザ</li>
    <li class="active">アカウント情報</li>
  </ol>
</section>
<hr>

<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">プロフィール</h3>
    <%= link_to '編集', edit_user_registration_path, class: "btn btn-default pull-right" %>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>ユーザ名</th>
          <td><%= @user_name %></td>
        </tr>
        <tr>
          <th>就業時間</th>
          <td><%= @work_start_time.to_s(:time) %> ~ <%= @work_end_time.to_s(:time) %></td>
        </tr>
        <tr>
          <th>休憩時間</th>
          <td><%= @rest_start_time.to_s(:time) %> ~ <%= @rest_end_time.to_s(:time) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
