<section class="content-header">
  <h1>
    Forgot your password?
    <small>omae</small>
  </h1>
</section>
<hr>

<div class="box box-default">
  <div class="box-header with-border">
    <i class="fa fa-ediit"></i>
    <h3 class="box-title">Password Reset</h3>
  </div>
  <div class="box-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
        <%= link_to "Cancel", new_session_path(resource_name), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
