<section class="content-header">
  <h1>
    <i class="fa fa-clock-o"></i> 勤怠<%= mode_to_ja(mode) %>
    <small>omae</small>
  </h1>
  <ol class="breadcrumb">
    <li>勤怠情報</li>
    <li><%= link_to '日次勤怠', user_attendances_path(current_user.id) %></li>
    <li class="active"><%= mode_to_ja(mode) %></li>
  </ol>
</section>
<hr>

<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">勤怠<%= mode_to_ja(mode) %></h3>
    <%= link_to '', user_attendance_path(current_user.id, attendance), method: :delete, data: { confirm: '削除しますか?' }, class: "btn btn-danger fa fa-trash pull-right" if mode == 'Edit' %>
  </div>
  <div class="box-body">
    <%= form_with(model: attendance, url: path, local: true) do |form| %>
      <% if attendance.errors.any? %>
        <% attendance.errors.full_messages.each do |message| %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">close</span>
            </button>
            <%= message %>
          </div>
        <% end %>
      <% end %>
      <div class="row">
        <div class="col-sm-6 col-md-2">
          <div class="form-group">
            <%= form.label '勤怠区分' %>
            <%= form.select :division, Attendance.divisions.keys.map { |k| [I18n.t("enums.attendance.division.#{k}"), k] }, {}, { class: "form-control" } %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= form.label :date %>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= form.text_field :date, class: "form-control date", autocomplete: "off", value: default_date(mode, attendance) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :clock_in_time %><br />
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-clock-o"></i>
              </div>
              <%= form.text_field :clock_in_time, class: "form-control time", value: default_clock_in_time(mode, attendance) %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :clock_out_time %><br>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-clock-o"></i>
              </div>
              <%= form.text_field :clock_out_time, class: "form-control time", value: default_clock_out_time(mode, attendance) %>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= form.submit mode == 'New' ? '登録' : '更新', class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
