<section class="content-header">
  <h1>
    <i class="fa fa-area-chart"></i> Dashboard
    <small>omae</small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<hr>

<div class="row">
  <%= form_tag api_user_attendances_path(current_user), remote: true do %>
    <div class="col-lg-6 col-xs-9">
      <div class="input-daterange input-group" id="datepicker">
        <input type="text" class="input-sm form-control datepicker" autocomplete="off" name="start_date" id="start_date" />
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control datepicker" autocomplete="off" name="end_date" id="end_date" />
      </div>
    </div>
    <div class="col-xs-1">
      <%= submit_tag 'Show!', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua">
        <i class="fa fa-building"></i>
      </span>
      <%= render 'all_working_hours', { all_working_seconds: @all_working_seconds } %>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green">
        <i class="fa fa-building-o"></i>
      </span>
      <%= render 'all_extra_working_hours', { all_extra_working_seconds: @all_extra_working_seconds, extra_working_rate: @extra_working_rate } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">Avg. of Extra Working Hours by Day of Week</h3>
      </div>
      <div class="box-body">
        <%= render 'avg_by_day_of_week' %>
      </div>
    </div>
  </div>
</div>
