<p id="notice"><%= notice %></p>

<p>
  <strong>Clock in time:</strong>
  <%= @attendance.clock_in_time %>
</p>

<p>
  <strong>Clock out time:</strong>
  <%= @attendance.clock_out_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @attendance.user %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
