<section class="content-header">
  <h1>
    <i class="fa fa-table"></i> 週次勤怠
    <small>omae</small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to '勤怠情報', root_path %></li>
    <li class="active">週次勤怠</li>
  </ol>
</section>
<hr>

<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">週次勤怠一覧</h3>
  </div>
  <div class="box-body">
    <table class="table table-bordered table-hover dataTable" id="attendances">
      <thead>
        <tr>
          <th>期間</th>
          <th>総労働時間</th>
          <th>総残業時間</th>
          <th>平均残業時間</th>
          <th>就業日数</th>
        </tr>
      </thead>
      <tbody>
        <% @dashboards.each do |dashboard| %>
          <tr>
            <td><%= "#{min(dashboard.attendances).date} ~ #{max(dashboard.attendances).date}" %></td>
            <td><%= "#{convert_to_hh_mm_from_sec(dashboard.all_working_seconds)}" %></td>
            <td><%= "#{convert_to_hh_mm_from_sec(dashboard.all_extra_working_seconds)}" %></td>
            <td><%= "#{convert_to_hh_mm_from_sec(dashboard.average_extra_working_seconds)}" %></td>
            <td><%= "#{dashboard.days_worked}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
